
.cont{
    height: 70vh;
    width: 100vw;
    padding: 0px 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-right{
        height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.cont .left{
    gap: 63px;
   flex-direction: column;
   text-align: center;
}

.cont .left p{
    font-size: 16px;
}

.cont .right img{
    border-radius: 8px;
}