.heroSection{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 1)),
        url("../../assets/hero.jpg");;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
}

.heroSection h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heroSection h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 80px;
}

.mid-border{
    height: 4px;
    border-radius: 6px;
    width: 100px;
    background-color: #0060aa;
}

.heroSection p{
    font-size: 22px;
    letter-spacing: 4px;
}

.heroSection .contact-btn{
    padding: 12px 18px;
    background-color: #123456;
    border-radius: 12px;
    font-size: 18px;
    font-weight: lighter;
    cursor: pointer;
    transition: .3s ease;
}

.heroSection .contact-btn:hover{
    background-color: black;
}


