*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
body{
  height: 100%;
  width: 100%;
  background-color: rgb(255, 251, 251);
  overflow-x: hidden;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}