
.card{
height: 300px;
width: 280px;
border-radius: 7px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 12px;
cursor: pointer;
transition: .3s ease;
}

.card img{
    width: 100px;
}

.card p{
    font-size: 20px;
    color: white;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0,0.3);
}